<%- include ('partials/header.ejs') %>

<body>
    <nav class="navbar navbar-dark bg-info navbar-expand-lg">
        <a class="navbar-brand" href="/">BlogPress</a>
    </nav>
    <br>
    <div class="container">
        <div class="card" style="height: 75vh; width: 100vh; align-items: center; justify-content: center;">
            <img src="/assests/alert.svg" alt="" width="100px">
            <h4 class="mt-2 ">Página não encontrada</h4>
            <a href="/" class="btn-light">Ir para a página inicial</a>
        </div>

        
    </div>
</body>

<%- include ('partials/footer.ejs') %>